<div class = "label-input date-input">
    <label>{{label}}</label>
    <div class = "input-div"s>
        <button ng-click = "displayCalendar = !displayCalendar" formnovalidate><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
        <input type="text" placeholder="DD/MM/YYYY" ng-model = "date" ng-disabled = "inputDisabled" title = "Select Date From Calendar" ng-required = "required">
    </div>
    <date-picker class = "date-picker" ng-show = "displayCalendar" ng-model = "date"></date-picker>
</div>