<div class = "label-input date-input">

    <div class = "label-info">
        <label> {{label}}</label>
        <info-tip message = "{{info}}" ng-if = "info"></info-tip>
    </div>
    <div class = "input-div"s>
        <button ng-click = "displayCalendar = !displayCalendar" formnovalidate><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
        <input type="text" placeholder="YYYY-MM-DD" ng-model = "date" ng-disabled = "inputDisabled" title = "Select Date From Calendar" ng-required = "required">
    </div>
    <date-picker class = "date-picker" ng-show = "displayCalendar"  format-date = "formatDate" ng-model = "date"></date-picker>
</div>