<div class = "transactions-from">
    <form name = "transferForm">
        <div class = "tab-title">
            <div class = "large-title-info">
                <h1> Account Budget Transfer</h1>
                <info-tip message = "Transfer money from one account to another. These will show up as 'Misc. Trans' on the overview screen." ></info-tip>
            </div>
        </div>
        <h3 class = "tab-sub-title">From Account</h3>
        <div class = "input-row">
            <account-select account-id = "transfer.from_account_id" accounts = "accounts"></account-select>
        </div>
         <h3 class = "tab-sub-title">To Account</h3>
        <div class = "input-row">
            <account-select account-id = "transfer.to_account_id" accounts = "accounts"></account-select>
        </div>
        <div class = "label-input">
            <label>Transfer Amount</label>
            <div class = "dollar-input">
                <i class="fa fa-usd" aria-hidden="true"></i>
                <input type="Number" placeholder="Enter a Dollar Amount" step="0.01" ng-model = "transfer.amount" required>
            </div>
        </div>
        <div class = "label-input input-row">
            <label>Description</label>
            <textarea placeholder="Enter Discription" ng-model = "transfer.description"></textarea>
        </div>
        <button class = "entry-submit" ng-click = "submitTransfer()" ng-disabled = "transferForm.$invalid"><i class="fa fa-check-square-o" aria-hidden="true"></i> Submit</button>
    </form>
</div>