<div class = "pending-select" ng-style = "pendingSelectPos">
    <h2 class = "tab-title">Pending Transactions</h2>
    <div class = "label-input">
        <label>Vendor</label>
        <select ng-model = "vendorId" ng-options = "vendor.vendor_id as vendor.name for vendor in vendors">
            <option value="" disabled selected hidden>Select a Vendor</option>
        </select>
    </div>
    
    <div class = "adjustment-table-scroll" >
        <table id = "adjustment-table" class = "table alternate-table">
            <tr>
                <th></th>
                <th>Account</th>
                <th>Vendor</th>
                <th>Invoice Date</th>
                <th>Date Paid</th>
                <th>Invoice Number</th>
                <th>Descrpition</th>
                <th>Total Expense</th>
            </tr>
            <tr ng-repeat = "transaction in pending" class = "row">
                <td><input type="radio" name = "transaction" ng-model ="$parent.selectedPending" ng-value="{{$index}}"></td>
                <td><account-name  account-id = "transaction.account_id" account-no = "transaction.account_no" sub-no = "transaction.sub_no" shred-no = "transaction.shred_no"></account-name></td>
                <td>{{transaction.vendor_name}}</td>
                <td>{{transaction.invoice_date}}</td>
                <td>{{transaction.date_paid}}</td>
                <td class = "center">{{transaction.invoice_no}}</td>
                <td class = "description account-desription">{{transaction.description}}</td>
                <td class = "currency">{{transaction.expense | currency}}</td>
            </tr>
        </table>
    </div>
    <button class="to-button transition-button" ng-click = "pendingDisplay();setSelectedPendingTransaction();" ng-disabled = "selectedPending < 0;">To<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>

<div class = "pending-set" ng-style = "pendingSetPos">
    <table id = "adjustment-table" class = "selected-preview table alternate-table">
        <tr>
            <td>{{pending[selectedPending].vendor_name}}</td>
            <td>{{pending[selectedPending].invoice_date}}</td>
            <td>{{pending[selectedPending].date_paid}}</td>
            <td class = "center">{{pending[selectedPending].invoice_no}}</td>
            <td class = "description account-desription">{{pending[selectedPending].description}}</td>
            <td class = "currency">{{pending[selectedPending].expense | currency}}</td>
        </tr>
    </table>
    <h2  class = "tab-title">Set Payment Date</h2>

    <form name = "pendingForm">
        <date-select label ="Date Paid (optional)"  date = "selectedTransaction.datePaid" input-disabled = "true" required = "true" ></date-select>
        <div class = "label-input input-row">
            <label>Description</label>
            <textarea placeholder="Enter Discription" ng-model = "selectedTransaction.description"></textarea>
        </div>
        <button class = "entry-submit" ng-click = "submitPending()">Submit</button>
    </form>

    <button class="from-button transition-button" ng-click = "pendingDisplay()"><i class="fa fa-chevron-left" aria-hidden="true"></i>From</button>
</div>