<div ng-class = "navLoc(1)" class ="nav-content">
    <div class = "tab-title">
        <div class = "title-info">
            <h2>Ticket Adjustment</h2>
            <info-tip message = "This allows you to make modifications to existing tickets. To search, you must enter a ticket number, or a Vendor AND a Project."></info-tip>
        </div>
    </div>
    <div class = "label-input">
        <label>Vendor</label>
        <select ng-model = "search.vendor_id" ng-options = "vendor.vendor_id as vendor.name for vendor in vendors">
            <option value="" disabled selected hidden>Select a Vendor</option>
        </select>
    </div>
    <div class = "label-input">
        <label>Project</label>
        <select ng-model = "search.project_id" ng-options = "project.pprta_account_code_id as [project.project_no, project.project_description].join(' - ') for project in pprtaProjects" >
            <option value="" disabled selected hidden>Select a Project</option>
        </select>
    </div>

    <div class = "label-input">
        <label>Ticket Number</label>
        <input type = 'text' ng-model = "search.ticket_no">
    </div>

    <button class = "search-button" ng-click = "searchTickets()" ng-disabled = "(!search.project_id || !search.vendor_id) && !search.ticket_no">Search Tickets</button>

    <div class = "adjustment-table-scroll" >
        <table id = "adjustment-table" class = "table alternate-table">
            <tr ng-if = "tickets.length > 0">
                <th></th>
                <th>Date</th>
                <th>Ticket No</th>
                <th>Material</th>
                <th>Quantitiy</th>
                <th>Cost</th>
            </tr>
            <tr ng-repeat = "ticket in tickets" class = "row" ng-show = "tickets.length > 0">
                <td><input type="radio" name = "ticket" ng-click = "select(ticket)"></td>
                <td>{{ticket.date}}</td>
                <td>{{ticket.ticket_no}}</td>
                <td>{{ticket.material_name}}</td>
                <td class = "center">{{ticket.quantity}}</td>
                <td class = "currency">{{ticket.cost | currency}}</td>
            </tr>
            <tr ng-if = "!tickets.length > 0">
                <th colspan="6"></th>
            </tr>
            <tr ng-if = "!tickets.length > 0">
                <td colspan="6" class = "center">There are no tickets for the selected vendor and project</td>
            </tr>
        </table>
    </div>
    <button class="to-button transition-button" ng-click = "incrementPage()" ng-disabled = "!selected">Adjust Ticket<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>

<div ng-class = "navLoc(2)" class ="nav-content">
    <div class = "tab-title">
        <div class = "title-info">
            <h2>Ticket Adjustment</h2>
            <info-tip message = "Freely edit ticket information here."></info-tip>
        </div>
    </div>
    <div class = "input-row" >
        <div class = "label-input">
            <label>Vendor</label>
            <select ng-model = "selected.vendor_id" ng-options = "vendor.vendor_id as vendor.name for vendor in vendors">
                <option value="" disabled selected hidden>Select a Vendor</option>
            </select>
        </div>
        <div class = "label-input">
            <label>Project</label>
            <select ng-model = "selected.pprta_id" ng-options = "project.pprta_account_code_id as [project.project_no, project.project_description].join(' - ') for project in pprtaProjects" >
                <option value="" disabled selected hidden>Select a Project</option>
            </select>
        </div>

        <div class = "label-input">
            <label>Districts?</label>
            <input type="checkbox" ng-model = "showDistricts">
        </div>
    </div>

    <div class = "input-row" >
        <date-select label ="Date"  date = "selected.date" input-disabled = "true" required = "true"></date-select>

        <div class = "label-input">
            <label>Ticket Number</label>
            <input type = "text" ng-model = selected.ticket_no  step="1" placeholder="Ticket Number" required>
        </div>

        <div class = "label-input">
            <label>Material</label>
            <select ng-model = "selected.material_id" ng-options = "material.material_id as material.name for material in materials") required>
                <option value="" disabled selected hidden>Select a Materials</option>
            </select>
        </div>
        <div class = "label-input">
            <label>Quantity</label>
            <input type = "Number" ng-model = selected.quantity  step="0.01" placeholder="Quantity" required>
        </div>

        <div class = "label-input">
            <label>Cost</label>
            <div class = "dollar-input">
                <i class="fa fa-usd" aria-hidden="true"></i>
                <input type="Number" placeholder="Enter a Dollar Amount" step="0.01" ng-model = "selected.cost" required>
            </div>
        </div>
    </div>

    <div class = "input-row">

        <div class = "label-input" ng-if = "showDistricts">
            <label>District</label>
            <select ng-model = "selected.district" required>
                <option value="" disabled selected hidden>Select a District</option>
                <option> North </option>
                <option> South </option>
                <option> East </option>
                <option> West </option>
            </select>
        </div>
    </div>

    <button class="from-button transition-button hidableelement" ng-click = "decrementPage()" ng-class = "{'hideelementleft': page == 4}"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back to Ticket Selection</button>
    <button class = "entry-submit" ng-click = "updateTicket(selected)"><i class="fa fa-check-square-o" aria-hidden="true"></i> Update</button>
    <button class="delete-button"  ng-click = deleteTicket(selected)><i class="fa fa-ban" aria-hidden="true"></i>
    Delete</button>
</div>

