<div ng-class = "navLocation(1,1)" class ="nav-content">
    <div class = "tab-title">
        <div class = "title-info">
            <h2>From</h2>
            <info-tip message = "Select an account from te drop down. Then choose a transaction and press 'To' to proceed"></info-tip>
        </div>
    </div>
    <account-select account-id = "accountId" accounts = "accounts"></account-select>
    <div class = "label-input">
        <label> Month </label>
        <select ng-model = "selectedMonth" ng-options = "months.indexOf(month) as month for month in months"></select>
    </div>

    <div class = "adjustment-table-scroll" >
        <table id = "adjustment-table" class = "table alternate-table">
            <tr ng-show = "account.monthly_summary[selectedMonth].length > 0">
                <th></th>
                <th>Account</th>
                <th>Vendor</th>
                <th>Invoice Date</th>
                <th>Date Paid</th>
                <th>Invoice Number</th>
                <th>Descrpition</th>
                <th>Total Expense</th>
            </tr>
            <tr ng-repeat = "transaction in account.monthly_summary[selectedMonth]" class = "row" ng-show = "account.monthly_summary[selectedMonth].length > 0">
                <td><input type="radio" name = "transaction" ng-model ="$parent.selectedIndex" ng-value="{{$index}}"></td>
                <td>
                    <account-name  account-id = "transaction.account_id" account-no = "transaction.account_no" sub-no = "transaction.sub_no" shred-no = "transaction.shred_no"></account-name>
                </td>
                <td>{{transaction.vendor_name}}</td>
                <td>{{transaction.invoice_date}}</td>
                <td>{{transaction.date_paid}}</td>
                <td class = "center">{{transaction.invoice_no}}</td>
                <td class = "description account-desription">{{transaction.description}}</td>
                <td class = "currency">{{transaction.expense | currency}}</td>
            </tr>
            <tr ng-if = "!account.monthly_summary[selectedMonth].length > 0">
                <th colspan="8"></th>
            </tr>
            <tr ng-if = "!account.monthly_summary[selectedMonth].length > 0">
                <td colspan="8" class = "center">There are no transactions to display.</td>
            </tr>
        </table>
    </div>
    <button class="to-button transition-button" ng-click = "incrementPage() ; setSelectedTransaction();" ng-disabled = "selectedIndex < 0;">To<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>

<div ng-class = "navLocation(2,3)" class ="nav-content">
    <table id = "adjustment-table" class = "selected-preview table alternate-table hidableelement" ng-class = "{'hideelementleft': page == 3}">
        <tr>
            <td>{{account.monthly_summary[selectedMonth][selectedIndex].vendor_name}}</td>
            <td>{{account.monthly_summary[selectedMonth][selectedIndex].invoice_date}}</td>
            <td>{{account.monthly_summary[selectedMonth][selectedIndex].date_paid}}</td>
            <td class = "center">{{account.monthly_summary[selectedMonth][selectedIndex].invoice_no}}</td>
            <td class = "description account-desription">{{account.monthly_summary[selectedMonth][selectedIndex].description}}</td>
            <td class = "currency">{{account.monthly_summary[selectedMonth][selectedIndex].expense | currency}}</td>
        </tr>
    </table>
    <transaction-entry transaction = "selectedTransaction" account-options = "accounts"  vendor-options = "vendors" transaction-type-options = "transactionTypes"  city-account-options = "cityAccounts" firstpage = "2" page = "page"></transaction-entry>
    <button class="from-button transition-button hidableelement" ng-click = "decrementPage()" ng-class = "{'hideelementleft': page == 3}"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back to Account Selection</button>
</div>
