<div class = "transactions-from" ng-style = "fromPos">
    <div class = "tab-title">
        <div class = "title-info">
            <h2>From</h2>
            <info-tip message = "Select an account from te drop down. Then choose a transaction and press 'To' to proceed"></info-tip>
        </div>
    </div>
    <account-select account-id = "accountId" accounts = "accounts"></account-select>
    <div class = "label-input">
        <label> Month </label>
        <select ng-model = "selectedMonth" ng-options = "months.indexOf(month) as month for month in months"></select>
    </div>

    <div class = "adjustment-table-scroll" >
        <table id = "adjustment-table" class = "table alternate-table">
            <tr>
                <th></th>
                <th>Account</th>
                <th>Vendor</th>
                <th>Invoice Date</th>
                <th>Date Paid</th>
                <th>Invoice Number</th>
                <th>Descrpition</th>
                <th>Total Expense</th>
            </tr>
            <tr ng-repeat = "transaction in account.monthly_summary[selectedMonth]" class = "row">
                <td><input type="radio" name = "transaction" ng-model ="$parent.selectedIndex" ng-value="{{$index}}"></td>
                <td>
                    <account-name  account-id = "transaction.account_id" account-no = "transaction.account_no" sub-no = "transaction.sub_no" shred-no = "transaction.shred_no"></account-name>
                </td>
                <td>{{transaction.vendor_name}}</td>
                <td>{{transaction.invoice_date}}</td>
                <td>{{transaction.date_paid}}</td>
                <td class = "center">{{transaction.invoice_no}}</td>
                <td class = "description account-desription">{{transaction.description}}</td>
                <td class = "currency">{{transaction.expense | currency}}</td>
            </tr>
        </table>
    </div>
    <button class="to-button transition-button" ng-click = "transactionsDisplay(); setSelectedTransaction();" ng-disabled = "selectedIndex < 0;">To<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>

<div class = "transactions-to" ng-style = "toPos">
    <table id = "adjustment-table" class = "selected-preview table alternate-table">
        <tr>
            <td>{{account.monthly_summary[selectedMonth][selectedIndex].vendor_name}}</td>
            <td>{{account.monthly_summary[selectedMonth][selectedIndex].invoice_date}}</td>
            <td>{{account.monthly_summary[selectedMonth][selectedIndex].date_paid}}</td>
            <td class = "center">{{account.monthly_summary[selectedMonth][selectedIndex].invoice_no}}</td>
            <td class = "description account-desription">{{account.monthly_summary[selectedMonth][selectedIndex].description}}</td>
            <td class = "currency">{{account.monthly_summary[selectedMonth][selectedIndex].expense | currency}}</td>
        </tr>
    </table>
    <div class = "tab-title">
        <div class = "title-info">
            <h2>To</h2>
            <info-tip message = "The row above shows the existing entry. Use the inputs bellow to change this transaction and press submit to save."></info-tip>
        </div>
    </div>
    <transaction-entry transaction = "selectedTransaction" account-options = "accounts"  vendor-options = "vendors" transaction-type-options = "transactionTypes"></transaction-entry>
    <button class="from-button transition-button" ng-click = "transactionsDisplay()"><i class="fa fa-chevron-left" aria-hidden="true"></i>From</button>
</div>