$overview-menu-width: 325px;

.account-left{

    margin-left: 50px;
    width: $overview-menu-width;
    float: left;
}

.account-summary{
    width: $overview-menu-width;
    background-color: $account-green;
    margin-bottom: 30px;

    .summary-content{
        background-color: $menu-black;
        display: inline-block;
        border-radius: 3px;
        margin: 3px 3px;
        width: $overview-menu-width - 6px;
    }
    .label, .value{
        font-size: 15px;   
        margin: 1px 0;
    }

    .label{
        float: left;
    }

    .value{
        float: right;
        margin-left: 8px;
    }
    
    .label-value{
        width: $overview-menu-width - 100px;
        margin: 0px 10px;
        display: inline-block;
    }

    .content-values{
        text-align: left;
        width: $overview-menu-width - 75px;
        padding: 5px 2px;
        margin: 5px auto 10px auto;
    }

    .month-dropdown{
        margin: 5px 35px 15px 35px;
        width: $overview-menu-width - 75px;
    }
}

.month-table-header{
    width: 1350px;
    background-color: $account-green;
}

#account-table{

    .row{
        &:hover{
            cursor: default;
            background-color: #F2FFF0;
        }
    }
}

.monthly-summary-table{
    h4,td{
        margin: 0;
    }

    tr{
        margin: 10px 0;
    }
    .currency{
        text-align: right;
    }
    width: 99%;
}