.overview-table-header{
    width: 1300px;
    background-color: $rusty-blue;
    float: left;
}


#overview-table{
    th{
        white-space: nowrap;
    }
    tr{
        &:hover{
            cursor: pointer;
            background-color: #E8EAFF
        }

    }
    td{
        white-space: nowrap;
    }

    .account-row{
        font-size: 17px;
    }

    .subaccount-row{
        font-size: 15px;
        background-color: $softest-grey;
    }

    .sub-row{
        font-size: 14px;
        background-color: #FAFAFA;
    }

    .account{
        min-width: 150px;
        width: 150px;
    }

    .sub-account{
        text-align: center;
    }

    .sub{
        text-align: right;
    }
}

.refrence-area{
    background-color: $rusty-blue;
    width: 250px;
    margin: 0 75px;

    .account-refrence{
        margin: 5px 0;
        display:block;
        width: 100%;
        cursor: pointer;
        color: black;
        text-decoration: none;

        &:hover{
            background-color: $softest-grey
        }
    }
}
.account-link{
    color: #00188E;
}
.budget-button{
        border: none;
        background-color: $dull-blue;
        width: 96%;
        margin: 2% 2%;
        color: white;
        padding: 5px;
        font-weight: bold;
    
    }