.table{
    border-collapse: collapse;
    border: 1px solid $softest-grey;

    th{
        padding: 5px 10px;  
        border: 1px solid gray;
    }

    tr{
        border-bottom: 1px solid grey;
    }

    td{
        min-width: 30px;
        padding: 2px 10px;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
    }

    .center{
        text-align: center;
    }
    .description{
        max-width: 550px;
    }
    .currency{
        text-align: right;
    }

}

.alternate-table{
    tr:nth-child(even) {
        background-color: #F9F9F9;
    }
    tr:nth-child(odd) {
        background-color: white;
    }
}


#overview-table{
    margin: 50px auto;
    box-shadow: 2px 2px 2px grey;
    th{
        background-color: $dull-blue;
        color: white;
        white-space: nowrap;
    }
    tr{
        &:hover{
            cursor: pointer;
            background-color: #E8EAFF
        }

    }
    td{
        white-space: nowrap;
    }

    .account-row{
        font-size: 16px;
        font-weight: bold;
    }

    .subaccount-row{
        font-size: 15px;
        background-color: $softest-grey;
    }

    .sub-row{
        font-size: 14px;
        font-style: italic;
    }

    .account{
        min-width: 150px;
        width: 150px;
    }

    .sub-account{
        text-align: center;
    }

    .sub{
        text-align: right;
    }

    .description{
        text-align: center
    }
    .currency{
        text-align: right;
    }
}