$entry-area-width: 870px;

.entry-tabs{

    li{
        background: lightgrey;
        border: 1px solid lightgrey;
    }
    .selected{
        color: white;
        background: $dull-purple;
        border: none;
    }
}

.entry-area{
    background-color: $dull-purple;
}

.invoice-textfield{
    width: 400px;
}

.input-row{
    width: 100%;
}

.date-input{
    position: relative;
    .date-picker{
        position: absolute;
        top: 40px;
    }

    .input-div{
        width: 175px;   
    }
    input{
        width: 120px;
    }

    button{
        background-color: #2878AE;
        border: none;
        color: white;
        float: left;
        margin-right: 2px;
        font-weight: bold;
        padding: 3px 5px;
        cursor: pointer;
        @include transition-time(0.2s);
        border-radius: 3px;

        &:hover{
            background-color: #2878AE;
            box-shadow: 1px 1px 2px grey;
            border: none;
            @include transition-time(0.2s);
        }
    }
}

.label-input{
	display: inline-block;
    margin: 10px 30px;

	input, label, select, textarea{
		display: block;
	}

    textarea{
        width: 95%;
        max-width: 95%;

        height: 100px;
    }
}

.label-display{
    display: inline-block;
    margin: 10px 30px;

    label{
        display: block;
        font-weight: bold;
    }
    p{
        margin: 0;
    }
}


.add-button{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    font-weight: bold;
    font-size:16px; 
    padding: 8px 20px;
    border: none;
    background: $dull-blue;
    @include transition-time(0.2s);

    &:hover{
        @include transition-time(0.2s);
        box-shadow: 2px 2px 10px grey;
    }

    &:disabled{
        background: #777997;
        cursor: not-allowed;
        box-shadow: none;
    }
}

.city-account-totals{
    display: inline-block;
    width: 100%;
}

.entry-submit{
    background-color: #549250;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 20px;
    @include transition-time(0.2s);
    cursor: pointer;
    border-radius: 4px;
    margin: 25px 35px 0 0 ;
    float:right;

    &:hover{
        @include transition-time(0.2s);
        box-shadow: 2px 2px 10px grey;
    }

    &:disabled{
        opacity: 0.7;
        cursor: not-allowed;
        box-shadow: none;
    }


}