<div class = "dialog-screen" ng-if = "display">

    <div class = "dialog-content">
        <div class = "dialog-exit" ng-click = "exit()">X</div>
        <div class = "dialog-title">
            <h1> Transaction Details</h1>
        </div>

        <h3 class = "dialog-section-header">Basic Information</h3>
        <div class = "label-display">
            <label>Account</label>
            <p><account-name account-id = "transaction.account_id" account-no = "transaction.account_no" sub-no = "transaction.sub_no" shred-no = "transaction.shred_no" 
            ng-if = "transaction"></account-name></p>
        </div>
        <div class = "label-display">
            <label>Invoice Number</label>
            <p>{{transaction.invoice_no}}</p>
        </div>
        <div class = "label-display">
            <label>Vendor</label>
            <p>{{transaction.vendor_name}}</p>
        </div>

        <div class = "label-display">
            <label>Transaction Type</label>
            <p>{{transaction.transaction_type}}</p>
        </div>
        <div class = "label-display">
            <label>Invoice Date</label>
            <p>{{transaction.invoice_date}}</p>
        </div>
        <div class = "label-display">
            <label>Date Paid</label>
            <p>{{transaction.date_paid}}</p>
        </div>
        <div class = "label-display">
            <label>Total Expense</label>
            <p>{{transaction.expense | currency}}</p>
        </div>

        <br>
        <div class = "label-display">
            <label>Description</label>
            <p>{{transaction.description}}</p>
        </div>
        <br>

        <h3 class = "dialog-section-header">City Account Codes</h3>
        <table class = "dialog-table" ng-if = "transaction.city_account_assignments.length > 0">
            <tr>
                <th>Project or Program</th>
                <th>City Account Code</th>
                <th class = "currency">Amount</th>
            </tr>
            <tr ng-repeat = "assignment in transaction.city_account_assignments">
                <td> {{transaction.pprta_codes.project_description}} </td>
                <td>{{assignment.city_account_no}}-{{transaction.pprta_codes.fund_no}}-{{transaction.pprta_codes.dept_no}}-{{transaction.pprta_codes.project_no}}</td>
                <td class = "currency">{{assignment.amount | currency}}</td>
            </tr>
        </table>
        <p class = "dialog-text" ng-if = "!transaction.city_account_assignments.length > 0">No city account codes have been assigned to this transaction.</p>


        <button class ="dialog-print" ng-click = "createSingleCoversheet()">Print Cover Sheet</button>

    </div>

</div>