<div class = "dialog-screen" ng-if = "display">

    <div class = "dialog-content">
        <div class = "dialog-exit" ng-click = "exit()">X</div>
        <h2>Transaction Details</h2>


        <div class = "label-display">
            <label>Account</label>
            <p><account-name account-id = "transaction.account_id" account-no = "transaction.account_no" sub-no = "transaction.sub_no" shred-no = "transaction.shred_no" 
            ng-if = "transaction"></account-name></p>
        </div>
        <div class = "label-display">
            <label>Invoice Number</label>
            <p>{{transaction.invoice_no}}</p>
        </div>
        <div class = "label-display">
            <label>Vendor</label>
            <p>{{transaction.vendor_name}}</p>
        </div>
        
        <div class = "label-display">
            <label>Description</label>
            <p>{{transaction.description}}</p>
        </div>
        <br>

        <div class = "label-display">
            <label>Transaction Type</label>
            <p>{{transaction.transaction_type}}</p>
        </div>
        <div class = "label-display">
            <label>Total Expense</label>
            <p>{{transaction.expense | currency}}</p>
        </div>

        <br>
        <div class = "label-display">
            <label>City Account Codes</label>
        </div>
        <table class = "monthly-summary-table" ng-if = "transaction.city_account_assignments.length > 0">
            <tr>
                <th>Project or Program</th>
                <th>City Account Code</th>
                <th>Amount</th>
            </tr>
            <tr ng-repeat = "assignment in transaction.city_account_assignments">
                <td> Unknown </td>
                <td>{{assignment.city_account_no}}-935-9000</td>
                <td class = "currency">{{assignment.amount | currency}}</td>
            </tr>
        </table>
        <p ng-if = "!transaction.city_account_assignments.length > 0">No city account codes have been assigned to this transaction.</p>


        <button>Print Cover Sheet</button>

    </div>

</div>