<table class = "table alternate-table">
    <tr ng-if = "transactions.length > 0">
        <th>Account<i class="fa fa-sort sort-icon clickable" 
                   ng-class = "{sortSelected : isSelectedColumn('account')}" ng-click = "sortTransactions('account')" aria-hidden="true"></i></th>
        <th>Vendor<i class="fa fa-sort sort-icon clickable" 
                   ng-class = "{sortSelected : isSelectedColumn('vendor_name')}" ng-click = "sortTransactions('vendor_name')" aria-hidden="true" ></i></th>
        <th>Invoice Date<i class="fa fa-sort sort-icon clickable" 
                   ng-class = "{sortSelected : isSelectedColumn('invoice_date')}" ng-click = "sortTransactions('invoice_date')" aria-hidden="true"></i></th>
        <th>Date Paid<i class="fa fa-sort sort-icon clickable" 
                   ng-class = "{sortSelected : isSelectedColumn('date_paid')}" ng-click = "sortTransactions('date_paid')" aria-hidden="true"></i></th>
        <th>Invoice Number<i class="fa fa-sort sort-icon clickable" 
                   ng-class = "{sortSelected : isSelectedColumn('invoice_no')}" ng-click = "sortTransactions('invoice_no')" aria-hidden="true"></i></th>
        <th>Descrpition</th>
        <th>Total Expense<i class="fa fa-sort sort-icon clickable" 
                   ng-class = "{sortSelected : isSelectedColumn('expense')}" ng-click = "sortTransactions('expense')" aria-hidden="true"></i></th>
    </tr>

    <tr ng-repeat = "transaction in transactions" class = "row clickable" ng-if = "transactions.length > 0">
        <td><account-name  account-id = "transaction.account_id" account-no = "transaction.account_no" sub-no = "transaction.sub_no" shred-no = "transaction.shred_no"></account-name></td>
        <td ng-click ="displayTransactionDetails(transaction.transaction_id)">{{transaction.vendor_name}}</td>
        <td ng-click ="displayTransactionDetails(transaction.transaction_id)">{{transaction.invoice_date}}</td>
        <td ng-click ="displayTransactionDetails(transaction.transaction_id)">{{transaction.date_paid}}</td>
        <td ng-click ="displayTransactionDetails(transaction.transaction_id)" class = "center">{{transaction.invoice_no}}</td>
        <td ng-click ="displayTransactionDetails(transaction.transaction_id)" class = "description account-desription">{{transaction.description}}</td>
        <td ng-click ="displayTransactionDetails(transaction.transaction_id)" class = "currency">{{transaction.expense | currency}}</td>
    </tr>
    <tr class = "total" ng-if = "transactions.length > 0 && total">
        <td colspan="6">{{totalLabel}}</td>
        <td> {{total | currency }}</td>
    </tr>

    <tr ng-if = "!transactions.length > 0">
        <th colspan="8"></th>
    </tr>
    <tr ng-if = "!transactions.length > 0">
        <td colspan="8" class = "center">{{emptyMessage}}</td>
    </tr>
</table>

<transaction-dialog display = "toggleTransactionDialog" transaction = "dialogTransaction"></transaction-dialog>