.area{
    display: inline-block;
    box-shadow: 3px 3px 2px grey;
    border-radius: 3px;
    float: left;

    .section-title{
        color:white;
        margin: 5px 35px 0px 35px;
        text-align: center;
    }

    .title{
        text-align: center;
        color: white;
        margin: 10px 0 5px 0;
    }

    .section-area{
        display: inline-block;
    	background-color: $nav-black;
    	margin: 4px 1% 10px 1%;
    	width: 98%;
    }

    .section-inset{
        border-radius: 1px;
        box-shadow: 2px 2px 4px grey inset;
        background-color: white;
        width: 95%;
        margin: 5px auto 5px auto;
        padding: 10px 1px 1px 3px;
        text-align: center;
    }

}