$nav-black: #404040;
$menu-black: #4E4E4E;

$side-menu-grey: #EBEBEB;
$side-icon-grey: #646464;
$softest-grey: #F2F2F2;
$soft-grey: #E6E6E6;

$account-green: #37692B;

$dull-blue: #5365C1;

$dull-red : #D74646;

$transparent-white: rgba(255,255,255,0.6);