.dialog-screen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(46,46,46, 0.6)
}

.dialog-content{
    background-color: white;
    display: block;
    width: 500px;
    position: relative;
    margin: 50px auto;

    .dialog-exit{
        position: absolute;
        display: inline-block;
        top: -5px;
        right: 0px;
    }
}