
.hidable-area{
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.75s; /* Safari */
    transition: 0.75s;
}
.hidable-content{
    left:0;
    width: 97.5%;
    top: 0;
    max-width: 100%;
    padding: 1px 20px;
    position: relative;
    -webkit-transition: 0.75s; /* Safari */
    transition: 0.75s;
}
.hidabledispalyed{
    left:0;
    width: 97.5%;
    top: 0;
    max-width: 100%;
    padding: 1px 20px;
    position: absolute;
    -webkit-transition: 0.75s; /* Safari */
    transition: 0.75s;
}

.hideright{
    width: 97.5%;
    top: 0;
    max-width: 100%;
    padding: 1px 20px;
    position: absolute;
    -webkit-transition: 0.75s; /* Safari */
    left: $tab-width;
    -webkit-transition: 0.75s; /* Safari */
    transition: 0.75s;
}

.hideleft{
    width: 97.5%;
    top: 0;
    max-width: 100%;
    padding: 1px 20px;
    position: relative;
    -webkit-transition: 0.75s; /* Safari */
    left: -$tab-width;
    -webkit-transition: 0.75s; /* Safari */
    transition: 0.75s;
}

.transition-button{
    background: #614B81;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 15px; 
    min-width: 100px;
    cursor: pointer;
    @include transition-time(0.2s);

    &:hover{
        box-shadow: 2px 2px 10px grey;
        @include transition-time(0.2s);
    }

    &:disabled{
        opacity: 0.7;
        cursor: not-allowed;
        box-shadow: none;
    }
}

.hidableelement{
    left: 0;
    position: relative;
    -webkit-transition: 0.75s; /* Safari */
     transition: 0.75s;
}
.hideelementleft{
    left: -$tab-width;
    -webkit-transition: 0.75s; /* Safari */
    transition: 0.75s;
}
