@mixin background-vert-gradient($color-top, $color-bottom){

	background: $color-top; 
    background: -webkit-linear-gradient($color-top, $color-bottom); 
    background: -o-linear-gradient($color-top, $color-bottom);
    background: -moz-linear-gradient($color-top, $color-bottom); 
    background: linear-gradient($color-top, $color-bottom);

}

@mixin horizontal-mirrored-gradient($color-inner, $color-outer){
  background: $color-inner; 
  background: -webkit-linear-gradient(left, $color-outer, $color-inner, $color-inner, $color-outer);
  background: -o-linear-gradient(left, $color-outer, $color-inner, $color-inner, $color-outer);
  background: -moz-linear-gradient(left, $color-outer, $color-inner, $color-inner, $color-outer);
  background: linear-gradient(left, $color-outer, $color-inner, $color-inner, $color-outer);

}


@mixin blur($pixels){
	filter: blur($pixels);
    -webkit-filter: blur($pixels);
    -moz-filter: blur($pixels);
    -o-filter: blur($pixels);
    -ms-filter: blur($pixels);

}

@mixin transition-time($time){
    -webkit-transition-duration: $time;
    transition-duration:$time;

}

@mixin text-outline($color){
    text-shadow: -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 #000, 1px 1px 0 $color;  
}