.page-title{
	margin: 25px 25px 25px 50px;
	width: 400px;
	border-bottom: solid 1px black;
	h1{
		margin-bottom: 0;
	}
    h2{
        margin: 0;
    }
    .main-title{
        h1{
            margin: 0;
        }
        display: inline-block;
        position: relative;
        .info{
            position: absolute; 
            left:105%;
            top:5px;
        }
    }
}

.title-info{
    h1,h2,h3{
        margin: 0;
    }
    display: inline-block;
    position: relative;
    .info{
        position: absolute; 
        left:108%;
        top:0px;
    }
    i{
        font-size:75%;
    }
}

.large-title-info{
    h1,h2,h3{
        margin: 0;
    }
    display: inline-block;
    position: relative;
    .info{
        position: absolute; 
        left:104%;
        top:3px;
    }
    i{
        font-size:95%;
    }
}

.label-info{
    label{
        margin: 0;
    }
    display: inline-block;
    position: relative;
    .info{
        position: absolute; 
        left:103%;
        top:-4px;
    }
    i{
        font-size:75%;
    }
}

.error-message{
    color: red;
    margin-top: 0px;
    margin-bottom: 0px; 
}

.clickable{
    cursor: pointer;

    td{
        cursor: pointer;
    }
}