@import "shared/colors";
@import "shared/mixin";
@import "shared/page";
@import "shared/table";
@import "shared/area";
@import "sidebar/sidebar";
@import "sidebar/sidebar-info";
@import "home/home";
@import "overview/overview";
@import "overview/account";
@import "data-entry/data-entry";
@import "reports/dashboard";
@import "reports/reports";

body{
    margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;

    .content{
    	min-width:1800px;
    }
}