@import "shared/colors";
@import "shared/mixin";
@import "shared/page";
@import "shared/table";
@import "shared/area";
@import "shared/tabs";
@import "shared/tooltip";
@import "shared/content-link";
@import "sidebar/sidebar";
@import "sidebar/sidebar-info";
@import "home/home";
@import "user/profile";
@import "user/admin";
@import "vendors/vendors-select";
@import "vendors/vendor-details";
@import "overview/overview";
@import "overview/account";
@import "data-entry/data-entry";
@import "adjustments/adjustments";
@import "adjustments/transaction-adjustments";
@import "adjustments/pending-adjustments";
@import "reports/dashboard";
@import "reports/reports";

body{
    margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;

    .content{
    	min-width:1800px;
    }
}