<form class = "entry-form " name = "entryForm">
    <div ng-class = "navLocation(firstpage, false)" class ="nav-content">

        <div class = "tab-title" ng-if = "!transaction.transaction_id">
            <div class = "title-info">
                <h2>New Transactions</h2>
                <info-tip message = "Use this tab to create a new transaction. All fields but the 'Date Paid' are required for input."></info-tip>
            </div>
        </div>

        <div class = "tab-title" ng-if = "transaction.transaction_id">
            <div class = "title-info">
                <h2>Adjust Transaction To</h2>
                <info-tip message = "The row above shows the existing entry. Use the inputs bellow to change this transaction and press submit to save."></info-tip>
            </div>
        </div>

        <div class = "input-row">
            <account-select account-id = "transaction.account_id" accounts = "accounts"></account-select>
        </div>
        
        <div class = "input-row">
            <div class = "label-input">
                <label>Vendor</label>
                <select ng-model = "transaction.vendor_id" ng-options = "vendor.vendor_id as vendor.name for vendor in vendors"  required>
                    <option value="" disabled selected hidden>Select a Vendor</option>
                </select>
            </div>

            <div class = "label-input">
                <label>Invoice Number</label>
                <input type = "text" placeholder = "Invoice Number" class = "invoice-textfield" ng-model = "transaction.invoice_no"  required>
            </div>

            <div class = "label-input">
                <label>Transaction Type</label>
                <select ng-model = "transaction.transaction_type_id" ng-options = "type.transaction_type_id as type.transaction_type for type in transactionTypes"  required>
                    <option value="" disabled selected hidden>Select a Type</option>
                </select>
            </div>
            
            <date-select label ="Invoice Date"  date = "transaction.invoice_date" input-disabled = "true" required = "true"></date-select>

            <date-select label ="Date Paid"  date = "transaction.date_paid" input-disabled = "true" required = "true"></date-select>

            <div class = "label-input">
                <label>Total Expense</label>
                <div class = "dollar-input">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    <input type="Number" placeholder="Enter a Dollar Amount" step="0.01" ng-model = "transaction.expense" required>
                </div>
            </div>
        </div>

        <div class = "label-input input-row">
            <label>Description</label>
            <textarea placeholder="Enter Discription" ng-model = "transaction.description" required></textarea>
        </div>


        <button class="to-button transition-button" ng-click = "incrementPage(); setupCityAccounts()" ng-disabled = "entryForm.$invalid" formnovalidate>Proceed to City Accounts<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>

    <div ng-class = "navLocation(firstpage+1, true)" class = "nav-content scrolable-tabed-content">
        <div class = "tab-title">
            <div class = "title-info">
                <h2>City Account Codes</h2>
                <info-tip message = "Add the proper city codes to this transaction to be used on coversheets."></info-tip>
            </div>
        </div>
        <div ng-repeat ="cityAccount in transaction.city_accounts">
            <div class = "input-row">
                <button class ="remove-button"  ng-click = "removeAccount($index)" > <i class="fa fa-times" aria-hidden="true"></i></button>
                <div class = "label-input">
                    <label>City Account</label>
                    <select ng-model = "transaction.city_accounts[$index].city_account_id" 
                            ng-options = "account.city_account_id as [account.account_no,account.title].join(' - ') for account in cityAccounts">
                        <option value="" selected >Unassigned</option>
                    </select>
                </div>
                <div class = "label-input">
                    <label>Amount</label>
                    <div class = "dollar-input">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <input type="Number" placeholder="Enter a Dollar Amount" step="0.01" ng-model = "transaction.city_accounts[$index].amount" ng-change = "checkRemaining()"> 
                    </div>
                </div>
            </div>
        </div>
        <button ng-click = "addAccount()" ng-disabled = "remaining <= 0" class = "add-button"> Add Account </button>

        <div class = "city-account-totals">
            <div class = "label-display">
                <label>Total Expense</label>
                <p>{{transaction.expense |  currency}}</p>
            </div>
            <div class = "label-display">
                <label>Remaining Unassigned</label>
                <p>{{remaining |  currency}}</p>
            </div>
        </div>
                
        <button class="from-button transition-button" ng-click = "decrementPage();" formnovalidate><i class="fa fa-chevron-left" aria-hidden="true"></i>Back To Transactions</button>


        <button class = "entry-submit" ng-click = "submitTransaction()"><i class="fa fa-check-square-o" aria-hidden="true"></i>
Submit</button>

        <button class="delete-button"  ng-click = deleteTransaction(transaction.transaction_id) ng-if = "transaction.transaction_id"><i class="fa fa-ban" aria-hidden="true"></i>
    Delete</button>
    </div>
   
</form>